* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.align {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
h1 {
  font-size: 40px;
}
main{
    padding: 30px;
    padding-bottom: 100%;
    background-color: rgba(236, 234, 234, 0.726);
}

.main-layout{
    background-color: white;
    max-width: 75%;
    margin:20px auto;
    margin-bottom: -19px;
    border: 1px;
    border-radius: 8px;
    padding: 3%;
}

.first-section{
    padding: -2%;
    border: 1px solid;
}

.blu{

}
.true{
    color: rgb(48, 245, 84);
    border-radius: 50%;
    padding-right: 3px;
    padding-left: 3px;
    border:2px solid rgb(48, 245, 84);
}
.false{
    color: rgb(238, 121, 115);
    border-radius: 50%;
    padding-right: 6px;
    padding-left: 6px;
    border:2px solid rgb(238, 121, 115);
}

ul{
    list-style: none;
    padding-bottom: 20px ;
}
.menu{
    margin: 3px;
    font-size: 20px;
}
li{
    padding: 10px;
}
.tag{
    font-size: 70%;
    color: white;
    border-radius: 15px;
    padding: 6px;
    margin-left: 3px;
}

.editorial{
    background-color: rgb(71, 173, 241);
}

.Q1Goals{
    background-color: rgb(156, 114, 228);
}

.Recruiting{
    background-color: rgb(100, 192, 169);
}
.Mobile{
    background-color: rgb(242, 158, 51);
}

.Website{
    background-color: rgb(216, 99, 161);
}

.Sales{
    background-color: hsl(69,68%,47%);
}