/* reset e font*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* header */
.align {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}
h1 {
  font-size: 40px;
}
/* Prima sezione con i due tasti */

.button {
  color: white;
  border: 1px;
  border-radius: 5px;
  padding: 5px;
}

.gray {
  color: gray;
  border: 1px solid gray;
  background-color: white;
}
/* Seconda sezione */
main {
  padding: 30px;
  padding-bottom: 10%;
  background-color: rgba(236, 234, 234, 0.726);
}

.main-layout {
  background-color: white;
  max-width: 70%;
  margin: 20px auto;
  margin-bottom: -18px;
  border: 1px;
  border-radius: 8px;
  padding: 3%;
}

.up {
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu {
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
  font-size: 25px;
  padding-left: 10px;
}
/* icon true or false */
.true {
  color: rgb(48, 245, 153);
  border-radius: 50%;
  padding-right: 3px;
  padding-left: 3px;
  border: 3px solid rgb(48, 245, 153);
}

.false {
  color: rgb(238, 121, 115);
  border-radius: 50%;
  padding-right: 6px;
  padding-left: 6px;
  border: 3px solid rgb(238, 121, 115);
}
/* liste parametri */
ul {
  list-style: none;
  padding-bottom: 20px;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 15px;
}
.tag {
  font-size: 70%;
  color: white;
  border-radius: 15px;
  padding: 6px;
  margin-left: 3px;
}
/* colori tags */
.editorial {
  background-color: rgb(71, 173, 241);
}

.Q1Goals {
  background-color: rgb(156, 114, 228);
}

.Recruiting {
  background-color: rgb(100, 192, 169);
}
.Mobile {
  background-color: rgb(242, 158, 51);
}

.Website {
  background-color: rgb(216, 99, 161);
}

.Sales {
  background-color: hsl(69, 68%, 47%);
}